USE [master]
GO
/****** Object:  Database [ThiB1Online]    Script Date: 12/3/2017 10:06:14 AM ******/
CREATE DATABASE [ThiB1Online]

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThiB1Online].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThiB1Online]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 12/3/2017 10:06:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[PassWord] [varchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CauHoi]    Script Date: 12/3/2017 10:06:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHoi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](50) NOT NULL,
	[DapAnA] [nvarchar](50) NULL,
	[DapAnB] [nvarchar](50) NULL,
	[DapAnC] [nvarchar](50) NULL,
	[DapAnD] [nvarchar](50) NULL,
	[DapAn] [nvarchar](50) NOT NULL,
	[IDChiTietChuDe] [int] NOT NULL,
 CONSTRAINT [PK_CauHoi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietChuDe]    Script Date: 12/3/2017 10:06:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietChuDe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [text] NULL,
	[IDChuDe] [int] NULL,
 CONSTRAINT [PK_ChiTietChuDe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietDeThi]    Script Date: 12/3/2017 10:06:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDeThi](
	[IDDeThi] [int] NOT NULL,
	[IDCauHoi] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietDeThi] PRIMARY KEY CLUSTERED 
(
	[IDDeThi] ASC,
	[IDCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChuDe]    Script Date: 12/3/2017 10:06:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDe](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenChuDe] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[SoCauHoi] [int] NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeThi]    Script Date: 12/3/2017 10:06:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DeThi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaDe] [varchar](50) NULL,
	[IDChuDe] [int] NULL,
	[NgayTao] [date] NULL,
 CONSTRAINT [PK_DeThi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CauHoi] ON 

INSERT [dbo].[CauHoi] ([ID], [TieuDe], [DapAnA], [DapAnB], [DapAnC], [DapAnD], [DapAn], [IDChiTietChuDe]) VALUES (2, N'1. Tom doesn''t like dancing, but Mike..........', N'does', N'did', N'do', N'doesn''t', N'does', 1)
SET IDENTITY_INSERT [dbo].[CauHoi] OFF
SET IDENTITY_INSERT [dbo].[ChiTietChuDe] ON 

INSERT [dbo].[ChiTietChuDe] ([ID], [NoiDung], [IDChuDe]) VALUES (1, NULL, 1)
SET IDENTITY_INSERT [dbo].[ChiTietChuDe] OFF
SET IDENTITY_INSERT [dbo].[ChuDe] ON 

INSERT [dbo].[ChuDe] ([ID], [TenChuDe], [GhiChu], [SoCauHoi]) VALUES (1, N'Từ vựng ngữ pháp', NULL, NULL)
INSERT [dbo].[ChuDe] ([ID], [TenChuDe], [GhiChu], [SoCauHoi]) VALUES (2, N'Đọc biển quảng cáo', NULL, NULL)
SET IDENTITY_INSERT [dbo].[ChuDe] OFF
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_CauHoi_ChiTietChuDe] FOREIGN KEY([IDChiTietChuDe])
REFERENCES [dbo].[ChiTietChuDe] ([ID])
GO
ALTER TABLE [dbo].[CauHoi] CHECK CONSTRAINT [FK_CauHoi_ChiTietChuDe]
GO
ALTER TABLE [dbo].[ChiTietChuDe]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietChuDe_ChuDe] FOREIGN KEY([IDChuDe])
REFERENCES [dbo].[ChuDe] ([ID])
GO
ALTER TABLE [dbo].[ChiTietChuDe] CHECK CONSTRAINT [FK_ChiTietChuDe_ChuDe]
GO
ALTER TABLE [dbo].[ChiTietDeThi]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDeThi_CauHoi] FOREIGN KEY([IDCauHoi])
REFERENCES [dbo].[CauHoi] ([ID])
GO
ALTER TABLE [dbo].[ChiTietDeThi] CHECK CONSTRAINT [FK_ChiTietDeThi_CauHoi]
GO
ALTER TABLE [dbo].[ChiTietDeThi]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDeThi_DeThi] FOREIGN KEY([IDDeThi])
REFERENCES [dbo].[DeThi] ([ID])
GO
ALTER TABLE [dbo].[ChiTietDeThi] CHECK CONSTRAINT [FK_ChiTietDeThi_DeThi]
GO
ALTER TABLE [dbo].[DeThi]  WITH CHECK ADD  CONSTRAINT [FK_DeThi_ChuDe] FOREIGN KEY([IDChuDe])
REFERENCES [dbo].[ChuDe] ([ID])
GO
ALTER TABLE [dbo].[DeThi] CHECK CONSTRAINT [FK_DeThi_ChuDe]
GO
USE [master]
GO
