@model Shop.Models.Entities.User

@{
    ViewBag.Title = "Login";
}

<h2 style="width:30%;margin:20px auto;">Login</h2>


@using (Html.BeginForm("LoginAction", "User", FormMethod.Post))
{
    <div style="width:30%;	border:1px solid #dbdbdb;	border-radius:  6px;	margin:20px auto;	margin-top: 70px;	margin-bottom: 160px;	height: 240px;">
        <div style="width:50%;margin:0px auto;font-size:50px;font-family:   Papyrus, fantasy;"></div>
        <div class="form_">
            <form>
                <div style="margin: 30px 40px -20px 40px;"><input style="padding: 9px 8px 7px 10px; width: 100%;height: 34px; border:1px solid #dbdbdb;text-decoration-color:  blue; box-sizing:border-box;border-radius: 4px;" type="text" name ="userName"placeholder="Username" value=""></div>
                <div  style="margin: 30px 40px -20px 40px;"><input style="padding: 9px 8px 7px 10px; width: 100%;height: 34px; border:1px solid #dbdbdb;text-decoration-color:  blue; box-sizing:border-box;border-radius: 4px;" type="password" name="password" placeholder="Password" /></div>
                <div style="width:324px;margin: 0 auto;margin-top: 40px;"><button class="btn btn-info" style="width: 100%;
	height: 33px;
	border-radius: 4px;
	margin: 0px auto;
	font-family: arial black;
	font-size: 13px;
    background-color:#1abc9c;">Log in</button></div>
            </form>
            <div style="margin: 30px 40px -20px 90px;"><span>Do not have an account? </span><a href="~/User/ViewADD">Register</a> </div>
        </div>
       
    </div>
}




